.elements-tracking-log-page {

    > .row.mt-20 {
        margin-bottom: 20px;
    }

    .loading {
        display: flex;
        height: 100%;
        align-items: center;
        justify-content: center;
    }

    form {
        .export-button-container {
            align-items: center;
            display: flex;
            height: 44px;
        }
        .export-button-container {
            justify-content: flex-start;
        }
        .filter-container {
            align-items: flex-start;
            display: flex;
            height: 44px;
            justify-content: flex-end;
            margin-right: 0;

            > div {
                display: block;
                padding-right: 0;
                padding-left: 12px;

                &:last-child {
                    align-self: center;
                    max-width: 112px;

                    button.btn.btn-default.btnMM {
                        max-width: 100px;
                        margin-left: 0;
                    }
                }
            }
        }

        input[type='search']::placeholder,
        input[type='text']::placeholder {
            color: $gray;
            font-family: 'FontAwesome';
            min-width: 130px;
        }
        i.input-clear {
            color: $gray;
            position: absolute;
            right: 16px;
            top: 16px;
        }

        .error-text {
            font-size: 0.8em;
            color: $dark-red;
        }

        .auto-refresh {
            margin-top: 8px;

            label {
                color: $gray;
                &:not(.selected)::before {
                    background-color: $white;
                }
            }
        }

        .clear-date {
            align-items: flex-end;
            display: flex;
            justify-content: center;
            min-height: 44px;
            margin-left: -24px;
        }
    }

    #elementsTbl.fixed-header > thead:first-child > tr > th,
    #elementsTbl.fixed-header > tbody > tr > td {
        align-items: center;
        flex-grow: 0;
        flex-shrink: 0;
        justify-content: flex-start;
        overflow-wrap: break-word;

        &:nth-child(1) { //user
            align-items: flex-start;
            display: flex;
            flex-basis: 132px;
            flex-direction: column;
            justify-content: flex-start;
            max-width: 132px;
        }
        &:nth-child(2) { //acct
            align-items: flex-start;
            display: flex;
            flex-basis: 164px;
            flex-direction: column;
            justify-content: flex-start;
            max-width: 164px;
        }
        &:nth-child(3) { //action
            flex-basis: 240px;
            max-width: 240px;
            word-break: break-word;
        }
        &:nth-child(4) { //url
            flex-basis: 488px;
            max-width: 488px;
        }
        &:last-child { //timestamp
            flex-basis: 116px;
            max-width: 116px;
        }
        .name-link {
            padding-right: 4px;
        }
    }
    #elementsTbl.fixed-header > thead:first-child > tr > th {
        &:hover {
            cursor: pointer;
        }
        &:nth-child(1),
        &:nth-child(2) {
            flex-direction: row;
        }
        .fa {
            padding-left: 4px;
        }
    }
    @media screen and (min-width: 768px) and (max-width: 992px) {

    }
}