/*********************************************************************************************************************************/
/********************************************************* Mail Page CSS *********************************************************/
/*********************************************************************************************************************************/

/* this is loader style here */

.preloader-wrapper {
    background: rgba(22, 22, 22, 0.7);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
}

.input-icon {
    position: relative;
}

.dataTables_info {
    margin-left: 8px;
}

.input-icon>i {
    position: absolute;
    display: block;
    transform: translate(0, -50%);
    top: 50%;
    font-size: 14px;
    pointer-events: none;
    width: 25px;
    text-align: center;
    font-style: normal;
}

.input-icon>input {
    padding-left: 25px;
}

.preloader-wrapper>.preloader {
    position: absolute;
    min-width: 125px;
    /* image-width of loader */
    min-height: 125px;
    /* image-height of loader */
    box-sizing: border-box;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.preloader-wrapper>.preloader h1 {

    font-size: 25px;
    color: #fff;
    opacity: 1;
    margin: 0px auto;
    margin-top: -26px;
}

/*end loader style*/


/* angular style end */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak, .ng-hide{
display: none !important;
}
/*angular style end*/

#loadingDiv{
    position:fixed;
    height:100%;
    width:100%;
    opacity:0.5;
    display:none;
    text-align: center;
    background: #000;
    z-index: 99;
    padding-top: 20%;
}

.bottom-margin{
    margin-bottom: 100px !important;
}